[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
tensorflow = "*"
matplotlib = "*"
opencv-python = "*"
pandas = "*"
openpyxl = "*"
scipy = "*"
scikit-learn = "*"
seaborn = "*"
scikit-plot = "*"

[dev-packages]

[requires]
python_version = "3.9"
